{
    "plugins": ["prettier-plugin-blade", "prettier-plugin-tailwindcss"],
    "semi": false,
    "singleQuote": true,
    "printWidth": 130,
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade"
            }
        }
    ]
}
