@import 'tailwindcss';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

[x-cloak] {
    display: none !important;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-header: #ffffff;
    --color-root: #f3f4f6;
    --color-border: #d1d5db;
    --color-card: #ffffff;
    --color-text: #18181b;

    /*Compatibility colors*/
    --color-status-playable: var(--color-green-500);
    --color-status-ingame: var(--color-blue-500);
    --color-status-menus: var(--color-violet-500);
    --color-status-boots: var(--color-yellow-500);
    --color-status-nothing: var(--color-red-500);

    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

:where(.dark, .dark *) {
    --color-header: #030712;
    --color-root: oklch(0.19 0.03 269.8 / 1);
    --color-border: #1e293b;
    --color-card: #020617;
    --color-text: #ffffff;
}
